#ppi, #ppi *
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    color: var(--plus-clair);
    font-family: var(--police);
    transition: all 0.2s ease;
}

#ppi
{
    display: flex;
    flex-direction: column;
    height: 96vh;
    align-items: center;
    background-color: var(--plus-plus-sombre);
    text-align: center;
}

#ppi h1, #ppi h2, #ppi h3
{
    text-transform: uppercase;
    color: var(--principale);
}
#ppi h1
{
    font-size: 3rem;
    letter-spacing: .74rem;
}
#ppi h2
{
    font-size: 2.25rem;
    letter-spacing: .74rem;
}
#ppi h3
{
    font-size: 1.75rem;
    letter-spacing: .74rem;
}

#ppi h4, #ppi h5, #ppi h6
{
    color: var(--clair);
}