#contenu
{
    width: 100vw;
    animation: apparition $entree;
    transition-duration: $entree;
    overflow: hidden;

    &>*
    {
        width: 64vw;
        padding: 7vh 18vw 0;
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        @include media()
        {
            width: 86vw;
            padding: 7vh 7vw 0;
        }
    }

    #accueil
    {
        #logo
        {
            min-height: 28rem;
            margin-bottom: 4vh;

            @include transition(accueil, scale, .5, 1);
            animation: accueil $entree * 2;

            &>i
            {
                @extend .texte-special;
                font-size: 28rem;
                color: $plus-clair;

                &:hover, &:focus, &:active
                {
                    cursor: pointer;
                    scale: 1.05;
                }
            }
        }

        #problematique
        {
            @extend .texte;
        }

        #accueil-continuer
        {
            @include point(.75);
            position: absolute;
            bottom: 7vh;

            &>i
            {
                rotate: 90deg;
            }

            @include flottement(continuer);
            transition-duration: $entree;
            animation: continuer 1s;
            animation-iteration-count: infinite;

            &.actif
            {
                bottom: -14vh;
            }
        }
    }

    #sommaire
    {
        &>*:first-child
        {
            margin-bottom: 4vh;
        }

        ul
        {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 7vh;

            li
            {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 4rem;
                letter-spacing: .75rem;
                width: 100%;
                margin-bottom: 5vh;

                @include media()
                {
                    font-size: 2.1rem;
                    flex-direction: column;
                    margin-bottom: 10vh;
                }

                &:hover, &:focus, &:active
                {
                    cursor: pointer;
                    letter-spacing: 1rem;
                    text-shadow: 0 0 .5rem;
                    color: $plus-clair;
                }

                &>i
                {
                    @include point(.64);
                    margin: {
                        right: 2rem;
                        bottom: 0;
                    };

                    &::before
                    {
                        padding-left: .85rem;
                    }

                    @include media()
                    {
                        @include point(.86);
                        margin: {
                            right: 0;
                            bottom: 3vh;
                        };
                    }
                }
            }
        }
    }

    #sommaire, #texte, #retour
    {
        opacity: 0;
        transition-duration: $entree;
    }

    #sommaire, #texte
    {
        overflow-y: scroll;
    }

    #texte
    {
        display: flex;
        margin-top: -100vh;
        
        &>*
        {
            width: 100%;
        }


        @include media($media-m-max-width)
        {
            &>*:first-child
            {
                margin-top: 14vh;
            }
        }

        &>h1
        {
            margin-bottom: 5.5rem;
        }

        &>h2
        {
            margin: 4.5rem 0 2.25rem;
        }

        &>h3
        {
            margin: 4rem 0 2rem;
        }

        &>h4
        {
            margin: 3.5rem 0 1.75rem;
        }

        &>h5
        {
            margin: 3rem 0 1.5rem;
        }

        &>h6
        {
            margin: 2.5rem 0 1.25rem;
        }

        p
        {
            margin: 1rem 0 2rem;
            line-height: 2.1rem;
        }

        &>ol, &>ul
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            li
            {
                width: 66%;
                margin: 1rem;
                font-size: 1.2rem;
                line-height: 1.9rem;
                color: $clair;
            }
        }

        &>blockquote
        {
            background-color: $plus-sombre;
            padding: 1rem 2rem;
            border-radius: 2rem;

            &>*
            {
                margin: 0;
                font-style: italic;
            }
        }

        &>*:last-child
        {
            margin-bottom: 7rem;
        }
    }

    #texte, #retour
    {
        margin-left: 100vw;
    }

    #retour
    {
        @include point(.75);
        position: absolute;
        top: 7vh;
        left: 8vw;
        z-index: 3;
        display: none;
        @include transition(retour, left, 12vw, 8vw);
        animation: retour $entree;

        @include media()
        {
            @include point(.5);
            margin-left: calc(42vw - 2.5rem) !important;
        }

        &:hover, &:focus, &:active
        {
            cursor: pointer;
            left: 7vw;
        }

        &.ferme
        {
            opacity: 0 !important;
            top: -14vh;
        }
    }

    &.sommaire
    {
        margin-top: -100vh;
    
        #accueil, #texte, #retour
        {
            opacity: 0;
        }

        #retour
        {
            display: flex;
        }

        #sommaire
        {
            opacity: 1;
        }
    }

    &.texte
    {
        margin-top: -100vh;

        #accueil, #sommaire
        {
            opacity: 0;
        }

        #sommaire
        {
            margin-left: -100vw;
        }

        #texte, #retour
        {
            opacity: 1;
            margin-left: 0;
        }

        #retour
        {
            display: flex;
        }
    }
}