#infos-panel
{
    #presentation
    {
        height: 70%;

        &>*:first-child
        {
            margin-bottom: 2vh;
        }

        &>div
        {
            height: 70%;
            overflow-y: scroll;

            &>p
            {
                font-size: 1.4rem;
                line-height: 2.1rem;
                margin-bottom: 2vh;
            }
        }
    }

    #etudiant
    {
        height: 10%;

        &>* 
        {
            @extend .texte;
            @extend .texte-special;
        }

        #nom
        {
            margin-bottom: 1vh;
        }

        #mail
        {
            font-style: italic;
        }
    }

    #insa
    {
        width: 90%;
        height: 15%;
        margin: 2.5% 5%;
        @include image("insa.png");
    }
}