html
{
    overflow: hidden;
}

#ppi
{
    @extend %base;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: $plus-plus-sombre;
    background-image: url("./img/matrix.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
    overflow: hidden;

    * { @extend %base; }

    span
    {
        @extend %special;
        position: absolute;
    }

    @for $n from 1 through 3
    {
        h#{$n}
        {
            @extend %special;
            font-size: 3rem - .75 * ($n - 1);
            letter-spacing: .75rem;
            text-transform: uppercase;
            @media (max-width: $media-s-max-width) {
                font-size: 2.5rem - .75 * ($n - 1);
            }
        }
    }


    @for $n from 4 through 5
    {
        h#{$n}
        {
            font-size: 1.45rem - .3 * ($n - 4);
            letter-spacing: .5rem;
            @media (max-width: $media-s-max-width) {
                font-size: 1.3rem - .3 * ($n - 4);
            }
        }
    }

    h6
    {
        font-size: 1.05rem;
        letter-spacing: .25rem;
        @media (max-width: $media-s-max-width) {
            font-size: 0.95rem;
        }
    }

    p
    {
        @extend %texte;
        &>*
        {
            @extend %texte;
        }
    }
}