#ppi
{
    @extend %base;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: $plus-plus-sombre;
    background-image: url("./img/matrix.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
    overflow: hidden;

    * { @extend %base; }
    
    html>&
    {
        overflow: hidden;
    }

    span
    {
        @extend %special;
        position: absolute;
    }

    @for $n from 1 through 3
    {
        $v: $n - 1;
        h#{$n}
        {
            @extend %special;
            font-size: 4rem - (.75 * $v);
            letter-spacing: .75rem;
            text-transform: uppercase;
            @media (max-width: $media-s-max-width) {
                font-size: 2.5rem - (.5 * $v);
            }
        }

        & article>h#{$n}
        {
            margin: 1.5rem - (.25 * $v) 0;
        }
    }


    @for $n from 4 through 5
    {
        $v: $n - 4;
        h#{$n}
        {
            font-size: 1.5rem - (.25 * $v);
            letter-spacing: .5rem;
            @media (max-width: $media-s-max-width) {
                font-size: 1.25rem - (.25 * $v);
            }
        }

        & article>h#{$n}
        {
            margin: .5rem - (.1 * $v) 0;
        }
    }

    h6
    {
        font-size: .95rem;
        letter-spacing: .25rem;
    }

    p
    {
        @extend %texte;
        font-size: 1.15rem;
        margin-bottom: 2rem;
        line-height: 1.5rem;
        text-align: justify;
        text-indent: 1.5rem;

        &>*
        {
            @extend %texte;
        }
    }

    .entree
    {
        opacity: 0;
        margin-top: -2vh;
        scale: 1.05;
    }
}