#ppi>#contenu
{
    width: 72vw;
    min-height: 80vh;
    padding: 7vh 14vw 0;
    
    @media (max-width: $media-m-max-width) {
        width: 80vw;
        padding: {
            left: 10vw;
            right: 10vw;
        };
    }

    @media (max-width: $media-s-max-width) {
        width: 92vw;
        padding: {
            top: 3.5vh;
            left: 4vw;
            right: 4vw;
        };
    }

    &>#accueil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2vw 4vh;

        @media (max-width: $media-s-max-width) {
            padding: {
                left: 0;
                right: 0;
            };
        }
        &>#logo
        {
            @include image("open-source.svg");
            width: 700px;
            height: 52vh;
            margin-bottom: 4vh;
            opacity: .82;
            &:hover
            {
                opacity: .92;
            }
        }

        &>#problematique
        {
            user-select: text;
            &>*
            {
                user-select: text;
            }
        }
    }
}