#ppi>#contenu
{
    @extend %anime;
    width: 72vw;
    padding: 0 14vw 14vh;
    overflow-y: scroll;
    
    @media (max-width: $media-m-max-width) {
        width: 80vw;
        padding: {
            left: 10vw;
            right: 10vw;
        };
    }

    @media (max-width: $media-s-max-width) {
        width: 90vw;
        padding: {
            left: 5vw;
            right: 5vw;
        };
    }

    &>*
    {
        @extend %contenu;
        min-height: 75vh;

        &.scroll-limite
        {
            opacity: 0;
        }
    }

    &>#accueil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4.5vh;
        min-height: 95.5vh;

        @extend %fleche;
        &::after
        {
            top: 3vh;
            width: 4rem;
            height: 4rem;
            border-width: 1rem;
        }

        &>#logo
        {
            @include image("open-source.svg");
            width: 100%;
            height: 52vh;
            opacity: .86;
            &:hover
            {
                opacity: .92;
                rotate: -7deg;
            }
        }

        &>#problematique
        {
            user-select: text;
            &>*
            {
                user-select: text;
            }
        }
    }
}