#ppi>#contenu
{
    width: 72vw;
    height: 95vh;
    padding: 0 14vw;
    overflow-y: scroll;
    
    @media (max-width: $media-m-max-width) {
        width: 80vw;
        padding: {
            left: 10vw;
            right: 10vw;
        };
    }

    @media (max-width: $media-s-max-width) {
        width: 90vw;
        height: 97vh;
        padding: {
            left: 5vw;
            right: 5vw;
        };
    }

    &>*
    {
        @extend %contenu;
    }

    &>#accueil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vh;
        min-height: 90%;

        &::after
        {
            content: '';
            position: relative;
            top: 2vh;
            width: 4rem;
            height: 4rem;
            border: {
                width: .75rem;
                style: solid;
                color: $sombre;
                top: none;
                left: none;
            };
            border-radius: .5rem;
            rotate: 45deg;
        }

        &>#logo
        {
            @include image("open-source.svg");
            width: 100%;
            height: 52vh;
            margin-bottom: 2vh;
            opacity: .86;
            &:hover
            {
                opacity: .92;
            }
        }

        &>#problematique
        {
            user-select: text;
            &>*
            {
                user-select: text;
            }
        }
    }
}