#ppi>footer
{
    @extend %panel;
    width: 80vw;
    padding: 1.5vh 0;


    @media (max-width: $media-s-max-width) {
        width: 92vw;
        &>#infos
        {
            width: 100%;
        }
        &>#insa, &>#source
        {
            opacity: 0;
            width: 0%;
        }
    }

    &>section
    {
        height: 4rem;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &>#infos
    {
        &>#nom
        {
            margin-bottom: .5vh;
        }
    }

    &>#insa
    {
        @include image("insa.png");
        height: 80%;
    }

    &>#source
    {
        @include image("github.png");
    }
}