#ppi>footer
{
    @extend %panel;
    position: absolute;
    bottom: 1.5vh;
    width: 80vw;
    padding: 1.5vh 0;

    @media (max-width: $media-s-max-width) {
        width: 92vw;
        &>#infos
        {
            width: 100%;
        }
        &>#insa, &>#source
        {
            opacity: 0;
            width: 0%;
        }
    }

    &.ferme
    {
        opacity: 0;
        bottom: -9vh;
    }

    &>section
    {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &>#infos
    {
        width: 50%;
        &>#nom
        {
            margin-bottom: .5vh;
        }
    }

    &>#insa
    {
        @include image("insa.png");
        width: 25%;
        height: 2.5rem;
    }

    &>#source
    {
        @include image("github.png");
        width: 25%;
    }
}