#ppi>header
{
    position: absolute;
    left: 2vh;
    width: 7vw;
    height: 100%;
    transition: margin-left 1s ease-in;

    @media (max-width: $media-m-max-width) {
        margin-left: -7rem;
        transition: margin-left 1s ease-out;

        &>#titre>*>span
        {
            opacity: 0 !important;
        }
    }

    &>#titre
    {
        display: flex;
        flex-direction: column;

        &>*
        {
            display: flex;
            align-items: end;

            &>h1
            {
                font-size: 7rem;
                &:hover
                {
                    cursor: pointer;
                }
            }

            &>span
            {
                cursor: pointer;
                text-align: left;
                font-size: 3rem;
                letter-spacing: .5rem;
                padding-bottom: .5rem;
                margin-left: 2.5rem;
                opacity: 0;
                transition: opacity 2s ease-out;
            }

            &.ouvert
            {
                margin-left: .5rem;

                span
                {
                    opacity: 1;
                    transition: opacity 1s ease-in;
                }
            }
        }
    }
}