#ppi>header
{
    position: absolute;
    left: 2vh;
    width: 7vw;
    height: 100%;

    #titre
    {
        display: flex;
        flex-direction: column;

        *
        {
            display: flex;
            align-items: end;

            &.ouvert
            {
                margin-left: .5rem;
            }

            h1
            {
                font-size: 7rem;
                &:hover
                {
                    cursor: pointer;
                }
            }

            span
            {
                text-align: left;
                font-size: 3rem;
                letter-spacing: .5rem;
                padding-bottom: .5rem;
                margin-left: 2.5rem;
            }
        }
    }
}