
%base {
    margin: 0;
    padding: 0;
    user-select: none;
    color: $clair;
    font-family: $police;
    transition: all 0.2s ease;
    background: none;
    scroll-behavior: smooth;

    &::selection
    {
        background-color: rgba($plus-sombre, .66);
    }
}

%texte {
    user-select: text;
}

%contenu
{
    padding: 0 2vw 4vh;
    @media (max-width: $media-s-max-width) {
        padding: {
            left: 0;
            right: 0;
        };
    }
}

%special {
    text-shadow: 0 0 .5rem;
    color: $principale;
}

%anime {
    transition: all .75s ease-in;
}

%panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba($plus-sombre, .92);
    border-radius: 1rem;
}

%fleche {
    &::after
    {
        content: '';
        display: flex;
        position: relative;
        border: {
            width: .75rem;
            style: solid;
            color: $sombre;
            top: none;
            left: none;
        };
        border-radius: .5rem;
        rotate: 45deg;
    }
}

@mixin image($image) {
    background: {
        image: url("./img/" + $image);
        position: center;
        size: contain;
        repeat: no-repeat;
    };
    &:hover
    {
        cursor: pointer;
        transform: scale(1.05);
    }
}