
%base {
    margin: 0;
    padding: 0;
    user-select: none;
    color: $clair;
    font-family: $police;
    transition: all 0.2s ease;
    background: none;
    &::selection
    {
        background-color: $transparent;
    }
}

%texte {
    user-select: text;
}

%special {
    text-shadow: 0 0 .5rem;
    color: $principale;
}

%panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $plus-sombre;
    border-radius: 1rem;
}

@mixin image($image) {
    background: {
        image: url("./img/" + $image);
        position: center;
        size: contain;
        repeat: no-repeat;
    };
    &:hover
    {
        cursor: pointer;
        transform: scale(1.05);
    }
}