@import url("https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin");

$plus-plus-sombre: #16001e;
$plus-sombre: #6f2dbd;
$sombre: #a663cc;
$principale: #b298dc;
$clair: #b8d0eb;
$plus-clair: #e0faf9;
$transparent: rgba($plus-sombre, .66);

$police: 'Ubuntu', sans-serif;